# cPanel Node.js Application Proxy Configuration
DirectoryIndex ""
<IfModule mod_rewrite.c>
    RewriteEngine On

    # WebSocket Upgrade Header Pass-through
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule /(.*) ws://127.0.0.1:5000/$1 [P,L]

    RewriteCond %{HTTP:Upgrade} !=websocket [NC]
    RewriteRule /(.*) http://127.0.0.1:5000/$1 [P,L]
</IfModule>
